* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    /* border: 1px solid red; */
}

body {
    background: #f8fafd;
    /* background: black; */
    height: 100vh;
    overflow: hidden;
}

.fa-solid,
.fa-regular,
.material-symbols-outlined,
.navbar-logo,
.app {
    cursor: pointer;
}

.navbar-toggle:hover,
.fa-sliders:hover,
.fa-magnifying-glass:hover,
.fa-gear:hover,
.fa-circle-question:hover,
.fa-user:hover,
.material-symbols-outlined:hover,
.menu-item:hover,
.highlight-btn,
.app:hover,
.left-plus-btn:hover {
    background: #dde2ebe5;
}


.more-menu,
.half-logo,
#more-menu-toggle,
#categories, 
.categories,
#side-bar-toggle
{
    display: none;
}

/* .......... navbar .......... */

.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .. Logo Container.. */

.navbar-container-1st {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    max-width: 232px;
    width: 100%;
}

.navbar-toggle {
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
}


/* .. searchbar Container.. */

.navbar-container-2nd {
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #e9eef6;
    padding: 5px 8px;
    border-radius: 50px;
}

.search-bar {
    width: 100%;
    border: 0px;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.fa-sliders,
.fa-magnifying-glass {
    padding: 10px;
    border-radius: 50px;
}


/* .. actions container .. */

.navbar-container-3rd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0px 20px;
    margin-left: auto;
}

.nav-fa-gear,
.fa-circle-question,
.fa-user,
.material-symbols-outlined {
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
}

/* .......................... main ............................ */
.main {
    display: flex;
    flex-direction: row;
}

/* ... ......... sidebar .......... ... */

.side-bar {
    max-width: 232px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-width: none;
    overflow-x: auto;
}





#side-bar-toggle:checked ~ div.side-bar>div.compose>div.compose-btn>span.menu-text,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item>span.menu-text,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item>span.menu-text,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item>span.menu-text,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item>span.menu-text,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item>span.menu-text
{
    display: none;
}
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item,
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item{
    border-radius: 50px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    padding: 0px;
}
#side-bar-toggle:checked ~ div.side-bar{
    width: 80px;
    justify-content: center;
    align-items: center;
}
#side-bar-toggle:checked ~ div.side-bar>div.compose{
    max-width: 60px;
    padding: 5px;
}


/* ... compose btn ... */


.compose {
    max-width: 232px;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

.compose-btn {
    width: 140px;
    background: #c2e7ff;
    padding: 18px 0px;
    font-size: 16px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.compose-btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
    transition: all 0.1s;
}

/* ... menu .. */

.side-bar-menu {
    height: 78vh;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    overflow: auto;
    padding-bottom: 30px;
}

.menu-item {
    display: flex;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    height: 32px;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    text-transform: capitalize;
    font-size: 14px;
}
#side-bar-toggle:checked ~ div.side-bar>div.side-bar-menu>div.child-side-bar-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ........ more menu ........ */



#more-menu-toggle:checked~div.more-menu {
    display: block;
}

/* .. categories .. */


#categories:checked~div.categories {
    display: block;
}

/* .................... left-side bar .................... */

.left-side-bar {
    margin-left: auto;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apps {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    /* align-items: center; */
}

.apps>hr {
    opacity: 0.5;
}

.app {
    width: 40px;
    padding: 8px;
    border-radius: 50px;
}

.left-plus-btn {
    font-size: 14px;
    padding: 13px;
    border-radius: 50px;
    text-align: center;
}

/* ............................. main body .......................... */

.main-body {
    background: white;
    width: 100%;
}



/* .............. responsing ................. */

@media screen and (max-width: 767px) {



    /* ........ navbar ........ */
    .nav-p{
        padding: 0 20px;
    }
    .navbar {
        justify-content: space-between;
        border-radius: 50px;
        background: #e9eef6;
    }
    .navbar-container-1st {
        padding: 0px 0px 0px 20px;
        margin-right: 20px;
        width: auto;
        max-width: 200px;
        margin: 0%;
    }
    
    .navbar-container-2nd {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        /* position: fixed; */
        padding: 0 10px;
    }
    
    .navbar-container-3rd {
        padding: 0px 20px 0px 0px;
    }

    /* ...... side bar ...... */
    .compose {
        position: fixed;
        top: 80vh;
        right: 20px;
    }



    .fa-circle-question,
    .nav-fa-gear,
    .material-symbols-outlined,
    .navbar-logo,
    .fa-magnifying-glass,
    .fa-sliders {
        display: none;
    }

}