* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    /* border: 1px solid red; */
}

body {
    background: #f8fafd;
    /* background: black; */
    height: 100vh;
    overflow: hidden;
}

.fa-solid,
.fa-regular,
.material-symbols-outlined,
.navbar-logo,
.app {
    cursor: pointer;
}

.navbar-toggle:hover,
.fa-sliders:hover,
.fa-magnifying-glass:hover,
.fa-gear:hover,
.fa-circle-question:hover,
.fa-user:hover,
.material-symbols-outlined:hover,
.menu-item:hover,
.highlight-btn,
.app:hover,
.left-plus-btn:hover,
.filter-checkbox:hover
{
    background: #dde2ebe5;
}


.more-menu,
.half-logo,
#more-menu-toggle,
#categories,
.categories,
#side-bar-toggle {
    display: none;
}

/* .......... navbar .......... */

.navbar {
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .. Logo Container.. */

.navbar-container-1st {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    max-width: 232px;
    width: 100%;
}



/* .. searchbar Container.. */

.navbar-container-2nd {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #e9eef6;
    padding: 5px 8px;
    border-radius: 50px;
}

.search-bar {
    width: 100%;
    border: 0px;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.fa-sliders,
.fa-magnifying-glass {
    padding: 10px;
    border-radius: 50px;
}


/* .. actions container .. */

.navbar-container-3rd {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 0px 20px;
    margin-left: auto;
}

.nav-fa-gear,
.fa-circle-question,
.fa-user,
.material-symbols-outlined,
.navbar-toggle
{
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
}

/* .......................... main ............................ */
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

/* ... ......... sidebar .......... ... */

.side-bar {
    max-width: 230px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    scrollbar-width: none;
    overflow-x: auto;
}





#side-bar-toggle:checked~div.side-bar>div.compose>div.compose-btn>span.menu-text,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item>span.menu-text,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item>span.menu-text,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item>span.menu-text,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item>span.menu-text,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item>span.menu-text {
    display: none;
}

#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item,
#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item {
    border-radius: 50px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    padding: 0px;
}


#side-bar-toggle:checked~div.side-bar {
    width: 80px;
    justify-content: start;
    align-items: center;
}

#side-bar-toggle:checked~div.side-bar>div.compose {
    max-width: 60px;
    padding: 5px;
}


/* ... compose btn ... */


.compose {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    z-index: 100;
}

.compose-btn {
    width: 140px;
    background: #c2e7ff;
    padding: 18px 0px;
    font-size: 16px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}

.compose-btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
    transition: all 0.1s;
}

/* ... menu .. */

.side-bar-menu {
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    overflow: auto;
    padding-bottom: 30px;
}

.menu-item {
    display: flex;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    height: 32px;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    text-transform: capitalize;
    font-size: 14px;
}

#side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ........ more menu ........ */



#more-menu-toggle:checked~div.more-menu {
    display: block;
}

/* .. categories .. */


#categories:checked~div.categories {
    display: block;
}

/* .................... left-side bar .................... */

.left-side-bar {
    margin-left: auto;
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.apps {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.apps>hr {
    opacity: 0.5;
}

.app {
    width: 40px;
    padding: 8px;
    border-radius: 50px;
}

.left-plus-btn {
    font-size: 14px;
    padding: 13px;
    border-radius: 50px;
    text-align: center;
}

/* ............................. main body .......................... */

.main-body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: auto;
    border-radius: 15px 15px 0px 0px;
    background: white;
}

/* ........... main-body-function .............. */
.main-body-function{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0%;
    z-index: 100;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.247);
}
.function-one{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
    align-items: center;
}
.filter>select{
    border: 0px;
    outline: 0px;
    width: 20px;
}
.filter-checkbox{
    padding: 0px;
}
.function-two{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
}

.fa-rotate-right,
.fa-ellipsis-vertical,
.fa-less-than,
.fa-greater-than,
.sitara
{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 50px;
}
.fa-rotate-right:hover,
.fa-ellipsis-vertical:hover,
.fa-less-than:hover,
.fa-greater-than:hover,
.sitara:hover
{
    background: #c2e7ffb6;
}

/* .............. responsiving ................. */

@media screen and (max-width: 767px) {
    


    /* ........ navbar ........ */
    .nav-p {
        padding: 10px 20px;
    }

    .navbar {
        justify-content: space-between;
        border-radius: 50px;
        height: 8vh;
        background: #e9eef6;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
        position: relative;
    }
    
    .navbar-container-1st {
        padding: 0px 0px 0px 8px;
        margin-right: 20px;
        width: auto;
        max-width: 200px;
        margin: 0%;
    }

    .navbar-container-2nd {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        /* position: fixed; */
        padding: 0 10px;
    }

    .navbar-container-3rd {
        padding: 0px 8px 0px 0px;
    }

    /* ...... side bar ...... */
    #side-bar-toggle:checked~div.side-bar>div.compose {
        padding: 10px;
        max-width: 232px;
    }
    .compose {
        width: auto;
        position: fixed;
        top: 80vh;
        right: 20px;
        z-index: 100;
        margin-left: auto;
    }
    
    #side-bar-toggle:checked~div.side-bar>div.compose>div.compose-btn>span.menu-text,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item>span.menu-text,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item>span.menu-text,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item>span.menu-text,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item>span.menu-text,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item>span.menu-text {
        display: block;
    }

    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label>div.menu-item,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.menu-item,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.menu-item,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label>div.menu-item,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories>div.menu-item {
        border-radius: 0px 50px 50px 0px;
        height: 32px;
        width: 100%;
        align-items: center;
        justify-content: start;
        font-size: 14px;
        display: flex;
        cursor: pointer;
        gap: 20px;
        padding-left: 30px;
        text-transform: capitalize;
    }
    .menu-item{
        width: 100%;
    }
    #side-bar-toggle:checked~div.side-bar>div.compose{
        display: none;
    }
    .side-bar{
        height: 100vh;
        width: 300px;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        left: -300px;
        overflow-x: auto;
        scrollbar-width: none;
        z-index: 110;
        background: #f8fafd;
    }
    .main{
        height: 100vh;
    }
    .left-side-bar{
        display: none;
    }
    #side-bar-toggle:checked~div.side-bar {
        align-items:flex-start;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        scrollbar-width: none;
        overflow-x: auto;
        max-width: 232px;
        position: fixed;
        max-width: 300px;
        left: 0;
    }
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>label.more-menu-toggle-label,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>label.categories-label,
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu>div.more-menu>div.categories
    {
        width: 100%;
    }
    #side-bar-toggle:checked~div.side-bar>div.side-bar-menu>div.child-side-bar-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    
    .fa-circle-question,
    .nav-fa-gear,
    .material-symbols-outlined,
    .navbar-logo,
    .fa-magnifying-glass,
    .fa-sliders {
        display: none;
    }
    
    .mail-container-3rd:hover{
        display: none;
        visibility: hidden;
        width: 0%;
    }
    .three-dots,
    .mail-icon,
    .sitara
    {
        display: none;
    }
    .sitara{
        display: none;
    }
    .mail-div> div.mail-container-3rd{
        visibility: hidden;
        display: none;
    }
    .mail-container-2nd{
        width: 100%;
    }
    .mail-container-3rd{
        display: none;
    }
    
    .mail-div {
        justify-content: space-between;
        border-radius: 0px;
        height: 8vh;
    }
}
@media screen and (max-width: 374px) {
    .side-bar{
        max-width: 100%;
        width: 100%;
        left: -100%;
    }
    #side-bar-toggle:checked~div.side-bar{
        max-width: 100%;
        width: 100%;
        left: 0%;
    }
    .left-side-bar{
        display: none;
    }
    .main{
        margin-left: 0%;
    }
}
/* ............. mail ............... */

.mail{
        padding: 0px 0px;
        width: 100%;
    }
    .mail-div {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mail-container-1st {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 20px 0px 0px;
    max-width: 232px;
    width: 100%;
}
.three-dots{
    visibility: hidden;
}
.mail-div:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    transition: all 0.1s;
}
.mail-div:hover > div.mail-container-1st > i.three-dots {
    visibility: visible;
}
.mail-div:hover > div.mail-container-3rd{
    visibility: visible;
}
.mail-container-2nd{
    width: 60%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
}

.mail-container-2nd>p{
    overflow: hidden;
    width: 100%;
    height: 20px;
    font-size: 16px;
}
.mail-container-3rd {
    display: flex;
    gap: 5px;
    padding: 0px 8px 0px 20px;
    visibility: hidden;
}
.mail-icon{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
}



.filter{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-icon:hover{
    background-color: #c2e7ff;
}
.mail-number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    transition: all 0.5s;
    border-radius: 5px;
    font-size: 12px;
}
.mail-number:hover{
    background: #c2e7ff;
}
.mail-div{

    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}
    .mail-div:hover {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.39);
    }